.child{
    background-color: aliceblue;
    border: 2px solid black;
    padding: 14px;
    margin: 14px;
    cursor: pointer;
}
.childcontainer{
    background-color: bisque;
    padding: 14px;
    margin: 14px;

}
.container{
    background-color: rgb(142, 184, 184);
    padding: 14px;
    margin: 14px;
}