*{
  margin: 0px;
  padding: 0px;
}
body{
  height: 500px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.parent{
  height: 200px !important;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child{
  width: 200px;
  height: 200px !important;
  border: 1px solid red;
}
.btn{
  width: 400px;
  height: 60px;
  border-radius: 50%;
  font-size: 35px;
}
.slick-dots button{
  display: none;
}
