table,td,th{
     /* border: 1px solid black;  */
    /* border-collapse: collapse; */
    text-align: center;
    padding: 10px 7px;
}
tr, th{
    background-color: rgb(30, 255, 0);
} 
/* td{
    background-color: antiquewhite;
}  */
table:first-child{
    /* background-color: brown; */
}
tr:nth-child(1){
    background-color: red;
}
table{
    border-radius: 5%;
    overflow: hidden;
}
table,tr{
    text-align: centre;
}
tr:nth-child(even){
    /* background-color: rgb(130, 137, 143); */
 } 
tr:nth-child(odd){
    /* background-color: white; */
}
tr:hover{
    background-color: coral;
}
