
.main{
    width:100vw;

    height: 100vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide3{
    /* margin-top: 60px; */
    width: 900px;
    height: 500px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center ;

}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    /* border: 2px solid brown; */
    background-image: url("task\(1\)\(1\).png");
    background-size: 100% 100%;
    animation: move 5s linear infinite;
    margin-left: 140px;

}
@keyframes move {
	0%{
		transform:translateX(10px);
	}
	25%{
		transform:translateY(-10px);
	}
	75%{
		transform:translateX(-10px);
	}
	100%{
		transform:translateY(10px);
	}
	
}
.right{
    width: 600px;
    height: 400px;
    /* border: 2px solid orange; */
    margin-left: 100px;
    /* display: flex;
    justify-content: center; */
}
.top{
    width: 500px;
    /* height: 20px; */
    /* border: 1px solid rgb(0, 255, 30); */
}
.top1{
    width: 300px;
    /* height: 50px; */
    /* border: 1px solid goldenrod; */
}
.top2{
    width: 300px;
    /* height: 60px; */
    /* border: 1px solid gray; */
}
.down1{
    width: 300px;
    /* height: 60px; */
    /* border: 1px solid yellowgreen; */
    display: flex;
}
.left1{
    width: 60px;
    height: 60px;
    /* border: 1px solid red; */
    background-image: url("bulb.jpg");
    background-size: 100% 100%;
}
.right1{
    width: 220px;
    /* height: 60px; */
    /* border: 1px solid red; */
    margin-top: -5px;
}
.down2{
    width: 300px;
    height: 60px;
    /* border: 1px solid yellowgreen; */
    display: flex;
    margin-top: 20px;
}
.left2{
    width: 60px;
    height: 60px;
    /* border: 1px solid red; */
    background-image: url("logo2.jpg");
    background-size: 100% 100%;
}
.right2{
    width: 220px;
    height: 60px;
    /* border: 1px solid red; */
    margin-top: -5px;
}
.log1{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
@media screen and(max-width:190px) {
    .right{
        display: flex;
       flex-wrap: wrap;
       flex-direction: row;
    }
    
}